.isOnline {
    color: green;
}

.isOffline {
    color: red;
}

.textSize {
    margin: 0;
    font-size: 20px;
}

.listItem {
    text-align: center;
    padding: 12px;
}

.name {
    font-size: 32px;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 8px;
}