.tableContainer {
    width: 700px;
    height: 360px;
    border-collapse: collapse;
}

.tableContainer * {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}

.headerText {
    background-color: #333;
    color: #fff;
}

.transaction {
    text-transform: capitalize;
}

.transaction:nth-child(even) {
    background-color: #c0c0c0;
}